<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.federvieh.selma"
    android:versionCode="1"
    android:versionName="0.8.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assimillib.ShowLesson"
            android:label="@string/title_activity_show_lesson"
            android:parentActivityName=".assimillib.LessonListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".assimillib.LessonListActivity" />
        </activity>
        <activity
            android:name=".assimillib.LessonListActivity"
            android:label="@string/app_name"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <service android:name="com.github.federvieh.selma.assimillib.LessonPlayer" />
        </application>

</manifest>
